/* Generic CSS */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    font-family: 'SignikaNegative';
}

.noSelect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

body{
    background-color: #08383a;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

main{
    color: white;
    text-align: center;
    padding-top: 20px;
}

/* specfic divs */

.username-area{
    max-width: 100%;
    align-items: center;
}

.link-list{
    width: 900px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}

.top-area{
    padding-bottom: 25px;
}

/* specific elements */
.pfp{
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.username{
    font-size: 4em;
    font-weight: 700;
    max-width: 100%;
}

/* buttons */
.link{
    background-color: #38736d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    width: 100%;
    margin: 10px 5px;
    height: 6vh;
}